{% extends "base.html" %}
{% block title %}Create a new post{% endblock %}
{% block body %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="p-2 md:w-50 ">
            <button class="flex content-center items-center mt-2 ml-5 p-3 bg-indigo-200 rounded-xl shadow-xs cursor-pointer hover:bg-indigo-500 hover:text-gray-100" type="submit">
                <i class='bx bx-send' ></i>
                <title>CSS3 icon</title>
                <div>
                  <p class=" text-sm font-medium ml-2 ">
                   Create Post
                  </p>
                  
                </div>
            </button>
        </div>
    </form>
    
{% endblock %}